@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");

body * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
}

header {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  align-items: center;
  height: 100px;
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: fit-content;
    margin-top: 25px;
  }
}

header img {
  width: 100px;
  margin-right: 50px;
  /* height: 50px; */
}

@media (max-width: 1000px) {
  header img {
    display: none;
  }
}

.active {
  border-bottom: 2px solid black;

  font-size: 20px;
}

.header-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .header-title {
    overflow: visible;
  }
}

.header-title h1 {
  /* margin-top: 50px; */
  font-weight: 400;
  font-size: 26px;
  width: fit-content;
}

@media (max-width: 1000px) {
  .header-title h1 {
    margin-bottom: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.header-title h1:hover {
  cursor: pointer;
}

.links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 50px; */
}

@media (max-width: 500px) {
  .links {
    width: 100%;
  }
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  font-weight: 300;
  height: 30px;
  transition: all 0.3s ease;
}

a:hover {
  font-size: 20px;
  transition: all 0.3s ease;
}

.home-top h2 {
  width: 67%;
  font-weight: 400;
  font-size: 50px;
  margin-left: 4%;
}

@media (max-width: 1000px) {
  .home-top h2 {
    width: 500px;
    font-size: 25px;
    margin: auto;
    margin-top: 35px;
  }
}

@media (max-width: 500px) {
  .home-top h2 {
    width: 335px;
    font-size: 25px;
    margin: auto;
    margin-top: 35px;
  }
}

.home-top h3 {
  /* margin-left: 8%; */
  text-align: center;
  margin-bottom: 75px;
}

@media (max-width: 500px) {
  .home-top h3 {
    margin-bottom: 25px;
  }
}

.home-top p {
  margin-left: 4%;
}

header h1 {
  width: 40%;
}

.main-img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .main-img {
    width: 375px;
    height: 300px;
    /* margin-left: -350px; */
    object-fit: cover;
    margin-bottom: 0px;
    overflow-x: hidden;
  }
}

.vector {
  color: white;
  background-color: #38383a;
  padding-bottom: 50px;
}

.vector div {
  width: 650px;
  font-weight: 200;
  margin-left: 4%;
}

@media (max-width: 1000px) {
  .vector div {
    width: 335px;
    margin: auto;
  }
}

.vector p {
  margin-left: 0px;
}

.vector h2 {
  font-size: 44px;
  padding-top: 100px;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .vector h2 {
    padding-top: 25px;
    font-size: 33px;
  }
}

.vector button {
  margin-top: 50px;
  width: 250px;
  height: 70px;
  border: none;
  background: transparent;
  background-color: white;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .vector button {
    width: 335px;
  }
}

.vector button:hover {
  background-color: rgb(174, 174, 174);
  cursor: pointer;
}

.home h3 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .home h3 {
    font-size: 25px;
  }
}

.recent-text {
  width: 600px;
  max-width: 90vw;
  font-weight: 300;
  margin-bottom: 100px;
}

footer {
  margin-left: 4%;
  margin-top: 55px;
  margin-bottom: 80px;
  font-weight: 300;
}

footer h3 {
  font-weight: 400;
  font-size: 34px;
  border-left: 0px;
}

.footer-details {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .footer-details {
    width: 335px;
  }
}

.footer-details p {
  margin-right: 150px;
  width: 200px;
}

.contact-page {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
}

@media (max-width: 500px) {
  .contact-page {
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.contact-page-left {
  width: 50%;
}

@media (max-width: 500px) {
  .contact-page-left {
    width: 100%;
  }
}

.contact-page-left h1 {
  font-weight: 500;
  font-size: 45px;
}

@media (max-width: 500px) {
  .contact-page-left h1 {
    font-size: 30px;
    margin: auto;
    width: fit-content;
    margin-top: 25px;
    color: white;
    background-color: #38383a;
    width: 100%;
    text-align: center;
  }
}

.contact-page-left p {
  margin-left: 0px;
  margin-bottom: 50px;
  width: 80%;
  font-weight: 300;
}

@media (max-width: 500px) {
  .contact-page-left p {
    width: 92%;
    margin-left: 4%;
    margin-bottom: 10px;
    margin-top: 30px;
  }
}

.contact-page-right {
  width: 50%;
}

@media (max-width: 500px) {
  .contact-page-right {
    width: 100%;
  }
}
