@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");

body * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  display: flex;
  margin-left: 4%;
  height: 100px;
  margin-bottom: 100px;
}

.active {
  border-bottom: 3px solid black;
  font-size: 20px;
}

.header-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.header-title h1 {
  margin-top: 50px;
  font-weight: 400;
  font-size: 26px;
}

.links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  font-weight: 300;
  height: 30px;
  transition: all 0.3s ease;
}

a:hover {
  font-size: 20px;
  transition: all 0.3s ease;
}

.home-top h2,
h3,
p {
  margin-left: 4%;
}

.home-top h2 {
  width: 65%;
  font-weight: 400;
  font-size: 55px;
}

header h1 {
  width: 40%;
}

.main-img {
  width: 100%;
  margin-top: 30px;
}

.home-project-pics {
  width: 93%;
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 4%;
}

.home-project-pics img {
  width: 630px;
  height: 415px;

  object-fit: cover;
}

.home-project-pics p {
  font-size: x-large;
  font-weight: 500;
  text-align: left;
}

.home-project-pics div {
  padding-bottom: 2%;
}

.vector {
  color: white;
  background-color: #28282a;
  padding-bottom: 50px;
}

.vector div {
  width: 650px;
  font-weight: 200;
  margin-left: 4%;
}

.vector p {
  margin-left: 0px;
}

.vector h2 {
  font-size: 44px;
  padding-top: 100px;
  font-weight: 600;
}

.vector button {
  margin-top: 50px;
  width: 250px;
  height: 70px;
  border: none;
  background: transparent;
  background-color: white;
  margin-bottom: 50px;
}

.vector button:hover {
  background-color: rgb(174, 174, 174);
  cursor: pointer;
}

.home h3 {
  font-size: 40px;
  font-weight: 400;
}

.recent-text {
  width: 600px;
  max-width: 90vw;
  font-weight: 300;
  margin-bottom: 100px;
}

footer {
  margin-left: 4%;
  margin-top: 55px;
  margin-bottom: 80px;
  font-weight: 300;
}

footer h3 {
  font-weight: 400;
  font-size: 34px;
}

.footer-details {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.footer-details p {
  margin-right: 150px;
  width: 200px;
}
